body{
	background: url(bumaga_staryy_fon_poverhnost_pyatna_65903_2560x1600.jpg);
	background-attachment: fixed;
	min-height: 2000px;
	background-size: cover;
}
.a1{
    background: #dfbf9f;
	height: 200px;
	width: 4000px;
	display: inline-block;
	border-radius: 100px;
	margin-left:1000px;
	margin-top:100px;
	position: absolute;
}
.a2{display: inline-block;}
.l1{
	font-size: 90px;
     margin-top: 50px;
     margin-left: 120px;
}
.l2{
	font-size: 90px;
     margin-top: 50px;
     margin-left: 170px;
}
.l3{
	font-size: 90px;
     margin-top: 50px;
     margin-left: 250px;
}
.l4{
	font-size: 90px;
     margin-top: 50px;
     margin-left: 300px;
}
.a3{
	background: ;
	width: 3800px;
	height: 3050px;
	position: absolute;
	margin-top: 360px;
	margin-left: 1100px; 
}
.l5{
	font-size: 90px;
     margin-top: 80px;
     text-align: center;
}
.l6{
	font-size: 90px;
     margin-top: 80px;
     text-align: center;
}
.l7{
	font-size: 80px;
     margin-top: 80px;
     text-align: left;
}     


