body{
	background: url(bumaga_staryy_fon_poverhnost_pyatna_65903_2560x1600.jpg);
	background-attachment: fixed;
	min-height: 80px;
	width: 100px;
	height: 80px;
	background-size: cover;
}
.a1{
    background: #dfbf9f;
	height: 60px;
	width: 1300px;
	display: inline-block;
	border-radius: 100px;
	margin-left:250px;
	margin-top:15px;
	position: absolute;
}
.a2{display: inline-block;}
.l1{
	font-size: 30px;
     margin-top: 10px;
     margin-left: 60px;
}
.l2{
	font-size: 30px;
     margin-top: 10px;
     margin-left: 50px;
}
.l3{
	font-size: 30px;
     margin-top: 10px;
     margin-left: 60px;
}
.l4{
	font-size: 30px;
     margin-top: 10px;
     margin-left: 50px;
}
.a3{
	background: url();
	width: 1200px;
	height: 850px;
	position: absolute;
	margin-top: 70px;
	margin-left: 300px; 
}
.l5{
	font-size: 26px;
     margin-top: 40px;
     text-align: center;
}
.l6{
	font-size: 28px;
     margin-top: 15px;
     text-align: center;
}
.l7{
	font-size: 23px;
     margin-top: 20px;
     text-align: left;
}  
@media screen and (max-width:500px){
    body {background: #cc9966;}
    .a1{width: 50%;
    	height: 200px;
	width: 450px;
	display: block;
	border-radius: 200px;
	margin-left:10px;
	margin-top:15px;
	position: absolute;
    }
    .l1{
	font-size: 27px;
     margin-top: 10px;
     margin-left: 70px;
}
.l2{
	font-size: 27px;
     margin-top: 10px;
     margin-left: 50px;
}
.l3{
	font-size: 27px;
     margin-top: 10px;
     margin-left: 80px;
}
.l4{
	font-size: 27px;
     margin-top: 10px;
     margin-left: 40px;
}
.a3{
	background: ;
	width: 450px;
	height: 1700px;
	position: absolute;
	margin-top: 250px;
	margin-left: 5px; 
}
.l5{
	font-size: 25px;
     margin-top: 40px;
     text-align: center;
}
.l6{
	font-size: 28px;
     margin-top: 15px;
     text-align: center;
}
.l7{
	font-size: 20px;
     margin-top: 20px;
     text-align: center;
}  
} 


